* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  margin-top: 50px;
}

/*--------------------------------------GARBAGE----------------------------------------------------*/
.garbage-container {
  text-align: center;
  margin-top: 50px;
  width: 200px;
  height: 300px;
  background-color: #eee;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #555;
  /* Adjusted border-radius for "V" shape with wider bottom */
  border-radius: 0 0 50px 50px;
}

.garbage {
  width: 100%;
  position: relative;
}

.empty-part {
  background-color: #eee;
  width: 100%;
}

.filled-part {
  width: 100%;
  background-color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* Adjust vertical alignment to start from the bottom */
  justify-content: flex-end;
}

.item-image {
  max-width: 80%;
  height: auto;
  margin: 5px 0;
}

.fill {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.capsules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.capsule {
  border-radius: 50%;
  border: 1px solid black; /* Add border to capsules for visibility */
}

/*--------------------------------------INPUT-----------------------------------------------*/
.input-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.input-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-cell label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-cell input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.input-buttons button {
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.input-buttons button:hover {
  background-color: #2980b9;
}

/*-------------------------------------------TABLE------------------------------------------------------*/
/* Scrollable Table Styles */
.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #555;
  margin-top: 20px;
  max-height: 400px;
  overflow: auto;
  /* Adjust margin and padding to remove extra space */
  margin-bottom: 0;
  padding: 0;
  position: relative; /* Required for sticky header */
}

.scrollable-table {
  width: 100%;
  margin-left: 0;
}


.data-table td {
  border: 1px solid #555;
  padding: 8px;
}

.data-table th {
  background-color: #42A790;
  color: white;
  position: sticky;
  top: 0; /* Stick to the top */
  z-index: 1; /* Ensure header is above other elements */
  border: 1px solid #555;
  padding: 8px;
}

.data-table td {
  background-color: #eee;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #269dc1;
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 3px;
}

button:hover {
  background-color: #2980b9;
}

.close-button {
  background-color: #e74c3c;
}

.hidden-sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.hidden-section {
  /* Four sections per row with 20px margin */
  margin-left: 10px;
}

.table-container {
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto;
}

/* SearchBar CSS */
.search-bar {
  margin-bottom: 20px;
}
.search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Taking the full width of its container */
  max-width: 400px; /* Adjust if needed */
  margin: 0 auto; /* This will center the container */
  padding: 5px;
}

.search-input input {
  width: 100%; /* Takes full width of its parent .search-input */
  max-width: 300px; /* Prevents it from becoming too wide */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



/* ... (existing CSS rules) */

.chart-container {
  text-align: center;
  margin-top: 50px;
  width: 250px;
  height: 340px;
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  border: 2px solid #555;
  border-radius: 0 0 50px 50px;
  position: relative;
  display: none; /* Hide initially */
}


.visible {
  display: block; /* Show when the chart is active */
}

.hidden {
  display: none; /* Hide when the chart is not active */
}

.actions-header {
  position: relative;
}

.compare-button-container {
  position: absolute;
  top: 50%;
  right: 0;   /* Aligns it to the rightmost side of the 'th' */
  transform: translateY(-50%);  /* Centers it vertically */
  
}
.compareBtn{
  background-color: rgb(8, 148, 218);
}
.compareBtn:hover{
  background-color: #71c829;
}

.nivo_calendar {
  height: 500px; /* Adjust according to your requirements */
}

