.app {
  text-align: center;
  margin-top: 50px;
}
/*--------------------------------------GARBAGE----------------------------------------------------*/
.garbage-container {
  text-align: center;
  margin-top: 50px;
  width: 200px;
  height: 300px;
  background-color: #eee;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid #555;

  /* Adjusted border-radius for "V" shape with wider bottom */
  border-radius: 0 0 50px 50px;
}

.garbage {
  width: 100%;
  background-color: #3498db;
  position: relative;
}

.empty-part {
  background-color: #eee;
  width: 100%;
}

.filled-part {
  width: 100%;
  background-color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  /* Adjust vertical alignment to start from the bottom */
  justify-content: flex-end;
}

.item-image {
  max-width: 80%;
  height: auto;
  margin: 5px 0;
}
.fill {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.capsules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 
}

.capsule {
  border-radius: 50%;
  border: 1px solid black; /* Add border to capsules for visibility */
  
 
  
}

/*--------------------------------------INPUT-----------------------------------------------*/

.input-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 10px;
  
}

.input-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-cell label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-cell input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.input-buttons button {
  padding: 8px 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.input-buttons button:hover {
  background-color: #2980b9;
}

/*-------------------------------------------TABLE------------------------------------------------------*/
.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #555;
  margin-top: 20px;
}

.data-table th,
.data-table td {
  border: 1px solid #555;
  padding: 8px;
}

.data-table th {
  background-color: #3498db;
  color: white;
}

.data-table td {
  background-color: #eee;
}

button{
  background-color: #3498db;

  padding: 8px 16px;
  
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 3px;
 
}
button:hover {
  background-color: #2980b9;

}